<ion-content [fullscreen]="true">
    <ion-card style="margin-top: 15%;">
        <ion-card-content>
            <ion-row>
                <ion-col>
                    <ion-avatar>
                        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                    </ion-avatar>
                </ion-col>
                <ion-col size="8">
                    <ion-item lines="none" *ngIf="currentUser$ | async as user">
                        <ion-label>
                            <h3>{{user.FullName}}</h3>
                            <p>{{user.UnitName}}</p>
                        </ion-label>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-icon name="notifications-sharp" size="large"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>

</ion-content>