<ion-content class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
        <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
            refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-card>
        <ion-card-content>
            <div class="d-flex align-items-center">
                <ion-avatar>
                    <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                </ion-avatar>
                <ion-item class="flex-grow-1" lines="none" *ngIf="currentUser$ | async as user">
                    <ion-label>
                        <h3>{{user.FullName}}</h3>
                        <p>{{user.UnitName}}</p>
                    </ion-label>
                </ion-item>
                <ion-icon name="notifications-sharp" size="large"></ion-icon>
            </div>
        </ion-card-content>
    </ion-card>

</ion-content>