<ion-header [translucent]="true">
  <!-- <ion-toolbar color="dark">
    <ion-buttons slot="end">
      <ion-button color="secondary" routerLink="/signup">
        Sign up
      </ion-button>
    </ion-buttons>
  </ion-toolbar> -->
</ion-header>

<ion-content>

  <div class="ion-padding h-100 ion-flex ion-flex-center" style="padding-top: 50px;">

    <div class="logo-container">
      <h1 class="animate__animated animate__fadeInUp">
        <ion-text color="dark">eDoc</ion-text>
      </h1>
    </div>

    <!-- Login form -->
    <form [formGroup]="signin_form" (submit)="signIn()">
      <mat-form-field appearance="outline" class="w-100" color="primary">
        <mat-label>Tài khoản</mat-label>
        <input matInput placeholder="Tài khoản" formControlName="username">
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100" color="primary">
        <mat-label>Mật khẩu</mat-label>
        <input matInput placeholder="Mật khẩu" formControlName="password" type="password">
      </mat-form-field>

      <button class="w-100" mat-raised-button color="primary" type="submit"> Đăng nhập</button>

      <!-- <ion-button color="light" fill="clear" expand="block" class="ion-button-small ion-margin-top-medium" routerLink="/password-reset">
        Forgot password?
      </ion-button> -->
    </form>

  </div>

</ion-content>