<ion-content>

  <div class="ion-padding h-100 ion-flex ion-flex-center" style="padding-top: 50px;">

    <div class="logo-container">
      <h1 class="animate__animated animate__fadeInUp">
        <ion-text color="dark">eDoc</ion-text>
      </h1>
    </div>

    <!-- Login form -->
    <form [formGroup]="signinForm" (submit)="signIn()">
      <mat-form-field appearance="outline" class="w-100 mb-3" color="primary">
        <mat-label>Tài khoản</mat-label>
        <input matInput placeholder="Tài khoản" formControlName="username">
        <mat-error *ngIf="signinForm.controls.username?.invalid
        && (signinForm.controls.username?.touched || signinForm.controls.username?.dirty)">
          {{signinForm.controls.username?.hasError('required') ? 'Chưa nhập tài khoản' : ''}}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100 mb-3" color="primary">
        <mat-label>Mật khẩu</mat-label>
        <input matInput placeholder="Mật khẩu" formControlName="password" type="password">
        <mat-error *ngIf="signinForm.controls.password?.invalid
        && (signinForm.controls.username?.touched || signinForm.controls.username?.dirty)">
          {{signinForm.controls.password?.hasError('required') ? 'Chưa nhập tài khoản' : ''}}
        </mat-error>
      </mat-form-field>

      <mat-error class="mb-3 text-center">{{message}}</mat-error>

      <button class="w-100" mat-raised-button color="primary" type="submit" [disabled]="signinForm.invalid">
        Đăng nhập
      </button>

      <!-- <ion-button color="light" fill="clear" expand="block" class="ion-button-small ion-margin-top-medium" routerLink="/password-reset">
        Forgot password?
      </ion-button> -->
    </form>

  </div>

</ion-content>