:host {
  ion-content {
    --background: url(/assets/background/background-1.png) no-repeat center/cover fixed;
    background-size: cover;
  }

  .card-form-login{
    background-color: transparent;
    background: transparent;
    box-shadow: none;
  }

}