.profile-card {
    background: var(--ion-toolbar-background-color);
}

.menus {
    background-color: var(--ion-toolbar-background-color);
}

mat-selection-list {
    padding: 0;
}

ion-list {
    background: var(--ion-toolbar-background-color);
}