<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="light">
      <ion-title>Khác</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="this._currentUser$ | async as user">
    <div class="d-flex flex-row profile-card p-2 mb-5">
      <ion-avatar class="me-4 align-self-center">
        <img src="https://edoc.smas.edu.vn/assets/media/users/default.svg">
      </ion-avatar>
      <div class="d-flex flex-column">
        <h2>
          <ion-text color="dark"><strong>{{user.FullName}}</strong></ion-text>
        </h2>

        <p>
          <ion-text color="medium">{{user.UnitName}}</ion-text>
        </p>
      </div>
    </div>
  </ng-container>

  <ion-list color="light">
    <ion-item routerLink="/other/face-id">
      <ion-icon slot="start" name="finger-print"></ion-icon>
      <ion-label>Cài đặt FaceID</ion-label>
    </ion-item>
  </ion-list>

  <ion-list style="margin-top: 20px;">
    <ion-item (click)="signOut()">
      <ion-icon slot="start" name="exit"></ion-icon>
      <ion-label>Đăng xuất</ion-label>
    </ion-item>
  </ion-list>

  <!-- <mat-selection-list class="menus" role="list">
    <mat-list-item role="listitem" routerLink="/other/face-id">
      <ion-icon matListItemIcon name="finger-print"></ion-icon>
      <div matListItemTitle>Cài đặt FaceID</div>
    </mat-list-item>
  </mat-selection-list>

  <mat-selection-list class="menus mt-5" role="list">
    <mat-list-item role="listitem" (click)="signOut()">
      <ion-icon matListItemIcon name="exit"></ion-icon>
      <div matListItemTitle>Đăng xuất</div>
    </mat-list-item>
  </mat-selection-list> -->
</ion-content>