<ion-content [fullscreen]="true">
  <ion-header collapse="fade" [translucent]="true">
    <ion-toolbar color="light">
      <ion-title>Khác</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="ion-no-margin profile-card">
    <ion-card-content>
      <ion-avatar>
        <img src="https://edoc.smas.edu.vn/assets/media/users/default.svg">
      </ion-avatar>

      <h1>
        <ion-text color="tertiary"><strong>John Doe</strong></ion-text>
      </h1>

      <p>
        <ion-text color="medium">john.doe@mail.com</ion-text>
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>