<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Khác</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="this._currentUser$ | async as user">
    <div class="d-flex flex-row profile-card p-2 mb-5">
      <ion-avatar class="me-4 align-self-center">
        <img src="https://edoc.smas.edu.vn/assets/media/users/default.svg">
      </ion-avatar>
      <div class="d-flex flex-column">
        <h2>
          <ion-text color="dark"><strong>{{user.FullName}}</strong></ion-text>
        </h2>

        <p>
          <ion-text color="medium">{{user.UnitName}}</ion-text>
        </p>
      </div>
    </div>

    <div class="d-flex flex-column">
      <div class="menu-item p-1">
        <div class="menu-link d-flex align-items-center">
          <div class="menu-icon d-flex flex-shrink-0 align-items-center justify-content-center me-1"></div>
          <div class="menu-title d-flex align-items-center flex-grow-1">
            User Profile
          </div>
          <div class="menu-arrow d-flex align-items-stretch"></div>
        </div>
      </div>
    </div>
  </ng-container>

</ion-content>